.rank {
    font-size: 2.5rem;
}

@media only screen and (max-width: 550px) {
    .rank,
    .f1,
    .f3 {
        font-size: 2em;
    }
}

@media only screen and (max-width: 410px) {
    .rank,
    .f1,
    .f3 {
        font-size: 1em;
    }
}
